name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
  
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x App/gradlew
    - name: Test with Gradle
      run: ./App/gradlew test
    - name: Upload a Test Artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: test_report
        path: App/app/build/reports/tests/testDebugUnitTest/    

  build:
  
    needs: [test]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x App/gradlew
    - name: Build with Gradle
      run: ./App/gradlew build
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: app
        path: App/app/build/outputs/apk/debug/app-debug.apk
